*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

[Oo]bj/
[Ll]og/
[Ll]ogs/

.idea/

.vs/

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

*.nupkg
*.snupkg
*.nuspec
*.psmdcp

packages/
*.nuget.props
*.nuget.targets

Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/

*.dll
*.pdb
*.cache
*.ilk
*.obj
*.lib
*.so
*.swp

*.tmp
*.log
*.vspscc
*_i.c
*_p.c
*.ipch
*.aps
*.pch
*.vsmdi

publish/
AppPackages/
BundleArtifacts/

*.dbmdl
*.bak
*.sql
*.sqlite
*.mdf
*.ldf

.vscode/
.idea/
